.featuresBlock {
  margin-top: 83px;
  background-color: #5c4eae;
  width: 100%;
  height: 220px;
  padding: 1px;
}

.featuresList {
  width: 870px;
  height: 124px;
  margin: 48px auto;
  display: flex;
}

.separator {
  border-right: 1px solid #c5c5c5;
  margin: 0px 60px;
}
