.area {
  width: 100%;
  height: 345px;
  border: 4px solid #6c5fbc;
  border-radius: 18px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #b6b6b6;
  padding: 25px;
  margin-top: 51px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
