.purchasesCard {
  margin-left: 140px;
  width: 534px;
  height: 457px;
  border-radius: 20px;
  /* border: 1px solid black; */
  box-shadow: 20px 20px 80px #bcbcbc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purchasesHeader {
  display: flex;
  justify-content: space-between;

  width: 458px;
  margin: 37px;
}

.purchasesTitle {
  font-family: Manrope;
  font-weight: 900;
  line-height: 135%;
  font-size: 28px;
  letter-spacing: 0.31px;
}

.selectText {
  background-color: #fafafa;
  padding: 12px;
  border-radius: 10px;
  font-family: Manrope;
  font-weight: 700;
  line-height: 150%;
  font-size: 19px;
  border-width: 0px;
}
